@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.popup {
  .application {
    position: relative;
    padding: 94px 153px 86px 153px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    width: 727px;
    height: 489px;


    .title {
      @include head-lora;
      font-size: 38px;
      margin-bottom: 20px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;
      width: 422px;

      input, button, select {
        width: 100%;
      }

      button {
        margin-top: 20px;
      }
    }

    .answer {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #1E1A2B;
        margin-bottom: 40px;
      }

      button {
        width: 72px;
      }
    }

    svg {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }
  }
}
