@import "../../../../assets/styles/variables";

.footer {
  padding: 40px 0 54px 0;
  font-size: 16px;
  background-color: #B9D5FD;

  .container {

    .footer-menu {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      .footer-logo {
        width: 85px;
        height: 47px;
        margin-right: 40px;

        img {
          width: 100%;
        }
      }

      .menu-items {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 508px;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: $blue;
            &:hover {
              color: $light-blue
            }
            &.active {
              color: $light-blue;
            }
          }
        }
      }
    }

    .footer-info {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 60px;

      .info-address {
        width: 253px;
      }

      .info-phone {
        width: 153px;

        a {
          text-decoration: none;
          color: $blue;
        }
      }

      .info-email {
        width: 127px;

        a {
          text-decoration: none;
          color: $blue;
        }

        .info-text {
          font-size: 14px;
        }
      }

      .info-socials {
        width: 203px;
      }

      .info-title {
        margin-bottom: 10px;
        color: $light-blue;
      }

      .info-text {
        color: $blue;
        margin-bottom: 10px;
      }
    }

    .info-action {
      width: 100%;
      font-size: 12px;

      &.btn {
        padding: 10px;
      }
    }

    .info-icon {
      display: flex;
      align-items: center;
      gap: 12px;

      a {
        text-decoration: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
    }

    .copyright {
      color:$light-blue;
    }

  }
}
