<section class="signup" [formGroup]="signupForm">
  <div class="container">

    <div class="auth-form">
      <div class="auth-title">
        Регистрация на сайте
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input" placeholder="Ваше имя" formControlName="name"
                 [ngStyle]="{'border-color': signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched) ? 'red' : ''}">
        </div>
        <div class="auth-input">
          <input type="text" class="input" placeholder="Электронная почта" formControlName="email"
                 [ngStyle]="{'border-color': signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched) ? 'red' : ''}">
        </div>
        <div class="auth-input">
          <input [type]="hidePassword ? 'password' : 'text'" class="input" placeholder="Пароль" formControlName="password"
                 [ngStyle]="{'border-color': signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched) ? 'red' : ''}"
                 (mousedown)="showPassword()" (mouseup)="hidePasswordField()" (mouseleave)="hidePasswordField()"
                 (touchstart)="showPassword()" (touchend)="hidePasswordField()">
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" class="custom-checkbox" id="agree" formControlName="agree">
          <label for="agree">Я принимаю <a href="/documents#user-agreement" target="_blank" rel="noopener">условия пользовательского соглашения</a> и даю <a href="/documents#personal-data" target="_blank" rel="noopener">согласие на обработку персональных данных.</a></label>
        </div>
      </div>
      <div class="auth-action">
        <button class="btn" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрироваться</button>
        <div class="auth-link">
          Уже есть аккаунт? <a routerLink="/login">Войдите</a>
        </div>
      </div>
    </div>

    <div class="page-image">
      <img src="/assets/images/pages/signup.jpg">
    </div>
  </div>
</section>
