@import 'variables';
@import 'mixins';
@import 'global';

.auth-form {
  margin-top: 120px;
  margin-bottom: 120px;
  width: 422px;

  .auth-title {
    @include head-lora;
    font-size: 36px;
    margin-bottom: 40px;
  }

  .auth-inputs {
    margin-bottom: 40px;

    .auth-input {
      margin-bottom: 5px;

      input {
        width: 422px;
      }
    }

    .auth-checkbox {
      display: flex;
      max-width: 422px;

      input {
        width: 14px;
        height: 14px;
        margin-top: 4px;
      }

      label {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $blue;
        margin-left: 10px;

        a {
          text-decoration: underline;
          color: $light-blue;
        }
      }
    }

  }

  .auth-action {
    button.btn {
      width: 422px;
    }
  }

  .auth-link {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: $blue;

    a {
      margin-left: 7px;
      color: $light-blue;
      text-decoration: none;
    }
  }
}

.page-image {
  width: 607px;
  height: 390px;

  img {
    width: 100%;
    height: 100%;
  }
}
