* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.btn {
  color: #fff;
  padding: 15px;
  background: $light-blue;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  cursor: pointer;

  &:disabled {
    background: rgba(118, 133, 152, 0.73);
    cursor: not-allowed;
  }
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $light-blue;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  color: $blue;

  &::placeholder {
    color: #A8ABA7;
  }
}

.error-msg {
  color: #FF0000FF;
  font-size: 14px;
  margin-bottom: 5px;
}

.custom-select {
  position: relative;
  border: 2px solid $light-blue;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: $blue;
  cursor: pointer;
  background: #fff;

  .selected {
    padding: 17px 20px;
  }

  .options {
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    background: #fff;
    border: 2px solid $light-blue;
    border-radius: 3px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;

    .option {
      padding: 12px 20px;
      cursor: pointer;

      &:hover {
        font-size: 16px;
        background-color: #B9D5FD;
      }
    }
  }
}

.carousel-items {
  .carousel-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    a {
      cursor: pointer;
    }
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #B9D5FD;
}

.articles-item {
  width: 290px;
  min-width: 290px;
  height: 571px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .articles-item-info {
    position: relative;

    .articles-item-image {
      width: 100%;
      height: 290px;
      margin-bottom: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
    }

    .articles-item-theme {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #fff;
      font-weight: 400;
      font-size: 11px;
      text-align: center;
      color: $light-blue;
      box-sizing: border-box;
      height: 34px;
      border: none;
      border-radius: 5px;
      padding: 10px 18px;
    }

    .articles-item-title {
      font-size: 20px;
      color: $light-blue;
      line-height: 130%;
      margin-bottom: 10px;
    }

    .articles-item-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: $blue;
      height: 126px;
      overflow: hidden;
      //margin-bottom: 33px;
    }
  }

  .articles-item-action {
    a {
      font-weight: 400;
      font-size: 16px;
      text-decoration-line: underline;
      color: $light-blue;
      cursor: pointer;
    }
  }
}

.article-description {
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $blue;
    margin-bottom: 20px;
  }

  h1, h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 130%;
    color: $light-blue;
  }

  li {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $blue;
    margin-left: 20px;
  }
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: visible;
  border-radius: 8px;
}




