@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.blog {
  margin-top: 80px;
  margin-bottom: 120px;

  .container {
    .blog-title {
      @include head-lora;
      font-size: 38px;
      margin-bottom: 40px;
    }

    .blog-filters {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .blog-applied-filters {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .blog-applied-filter {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding: 8px 20px;
          border: 2px solid $light-blue;
          border-radius: 5px;
          font-size: 16px;
          color: $light-blue;
          margin-right: 8px;
          margin-bottom: 8px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }
    }

    .blog-sorting {
      width: 257px;
      min-width: 257px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;

      .blog-sorting-head {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $blue;
        padding: 12px 0 12px 23px;
        z-index: 50;

        span {
          margin-right: 50px;
        }
      }

      .blog-sorting-body {
        font-size: 16px;
        color: #BEBEBE;

        position: absolute;
        width: 100%;
        box-sizing: border-box;
        z-index: 20;
        display: none;
        padding: 12px 23px;
        background: #FFF;
        border-radius: 0 0 5px 5px;

        .blog-sorting-item {
          margin-bottom: 14px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:last-child {
            margin-bottom: 0;
          }

          &.active {
            color: #313131;

            &:hover svg {
              transform: scale(1.5);
            }
          }

          &:hover {
            color: #313131;

            svg {
              transform: scale(1.5);
            }
          }
        }
      }

      &.open {
        margin-right: 8px;
        width: 257px;
        min-width: 257px;

        .blog-sorting-head {
          color: $blue;
          background: #B9D5FD;
          border-radius: 5px 5px 0 0;
          box-sizing: border-box;
          padding: 12px 23px;
          justify-content: space-between;
        }

        .blog-sorting-body {
          display: block;
        }
      }
    }

    .articles-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      column-gap: 24px;
      row-gap: 40px;
    }

    .blog-pagination {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      .pagination-pages {
        margin: 0 30px;
        display: flex;
        align-items: center;
        gap: 15px;

        .pagination-page {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 60px;
          height: 60px;
          font-size: 20px;
          color: $blue;
          cursor: pointer;

          &.active {
            color: #B9D5FD;
          }
        }
      }
    }
  }
}
