@import "../../../../assets/styles/variables";

.header {
  font-size: 16px;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo {
      width: 85px;
      height: 47px;
      margin-right: 100px;

      img {
        width: 100%;
      }
    }

    .header-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 830px;
      margin-right: 141px;

      .menu-items {
        display: flex;
        align-items: center;
        gap: 30px;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: $blue;
            &:hover {
              color: $light-blue;
            }
            &.active {
              color: $light-blue;
            }
          }
        }
      }

      .menu-phone {
        color: $light-blue;
        text-decoration: none;
      }
    }

    .header-profile {
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      svg {
        margin-right: 7px;
      }

      a {
        text-decoration: none;
        color: $blue;
      }
    }
  }
}
